DATABASE_URL=postgresql://user:password@localhost:5432/tele_user_service
JWT_SECRET=your_jwt_secret_key
JWT_ISSUER=tele_user_service
JWT_ALGORITHM=HS256
JWT_EXPIRES_HOURS=24
USER_SERVICE_URL=http://localhost:8000//internal/users
HABIT_SERVICE_URL=http://localhost:8001//api/v1/habits
INTERNAL_TOKEN=your_internal_token
